name: Lang Parser Auto PR

permissions:
  contents: write
  pull-requests: write

on:
  push:
    branches:
      - master
    paths:
      - 'languages/chinese.lua'
  workflow_dispatch:

jobs:
  update-language-files:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Sync missing entries from chinese.lua
        run: python3 sync_missing_from_chinese.py --dir ./languages --base chinese.lua

      - name: Generate GitHub App token
        uses: actions/create-github-app-token@v1
        id: generate-token
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}

      - name: Create Pull Request
        id: ci-update-language-files
        uses: peter-evans/create-pull-request@v6
        with:
          token: ${{ steps.generate-token.outputs.token }}
          add-paths: "languages/*.lua"
          commit-message: "chore: sync language files from chinese.lua"
          branch: ci-update-language-files
          title: "Language: Update language files"
          body: |
            This PR auto-syncs translations based on `chinese.lua`.
            Missing keys are marked as comments.
          labels: skip-changelog
